<h1>Add User Form</h1>
<form method="POST" action="create" enctype="multipart/form-data">

    {% csrf_token %}
    <tr>
        <td>Name</td>
        <td><input type=" text" id="name" placeholder="ENTER YOUR NAME" required>
        </td>
    </tr>
    <br /><br />
    <tr>
        <td>Address</td>
        <td><input type="text" id="address" placeholder="ENTER YOUR ADDRESS" required></td>
    </tr>
    <br /><br />
    <tr>
        <td>Phone Number</td>
        <td><input type="text" id="phonenumber" placeholder="ENTER YOUR PHONENUMBER" required></td>
    </tr>
    <br /><br />
    <tr>
        <td>Warranty</td>
        <td><input type="text" id="warranty" placeholder="ENTER YOUR WARRANTY" required></td>
    </tr>
    <br /><br />
    <tr>
        <td><button type="submit">SUMIT</button></td>
    </tr>
</form>